<div class="student-info">
  <div class="student-form-header"><h3>Create your profile</h3></div>
  <div class="student-form-content">
    <%= render 'form' %>
  </div>
  <%= link_to 'Back', students_path %>
</div>
