<div class="student-info">
  <div class="student-form-header"><h3>Create your profile</h3></div>
  <div class="account-type">
    <% if current_account.accountable_type == nil %>
      <%= link_to 'Not a Student?', new_organization_path %>
    <% end %>
  </div>
  <div class="student-form-content">
    <%= render 'form' %>
  </div>
  <%= link_to 'Back', students_path %>
</div>
