<div class="projects">
  <p id="notice"><%= notice %></p>

  <div class="project-detail-header">
    <h2 class="project-detail-header-name"><%=@project.name%></h2>
  </div>
  <div class="project-detail-gallery"></div>
  <div class="project-detail-info"></div>
  <div class="project-detail-description"></div>
  <div class="project-detail-updates"></div>
  <br>
  <%= link_to 'Edit', edit_project_path(@project) %> |
  <%= link_to 'Back', projects_path %>
</div>